.location-banner{
    width: 100%;
    height: 350px;
    /* image by <<Source: https://p0.pikist.com/photos/759/506/italy-venice-europe-architecture-buildings-street-old-city-old-city.jpg>> */
    background-image:url("../images/aroma-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.location-banner::after {
  content: '';
  background-color: rgba(0,0,0,.7);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.location-banner h1{
    margin: 0;
    padding: .2em;
    color: #FFF;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    top: 50%;
    z-index: 1;
    border-bottom: 2px solid #837a3a;
}

/* MAIN*/
main {
    margin: 0 auto;
    /*max-width: 1200px;*/
}

.content-shadow-box {
    padding: 40px 10px  ;
    margin: 6em 10%;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
    background-color: white;
}
.location-desc{
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: left;
}
#map {
    height: 300px;
    width: 53%;
    position: absolute;
    right: 2em;
    top: 0;
}

.location-title{
    font-size: 2em;
    position: relative;
    margin-bottom: 50px;
    margin-top: 0;
  }

  .location-title:before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px; 
    display: inline-block;
    width: 50px; 
    height: 4px; 
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%); 
    background-color: #837A3A;
}

a{
    color: #837A3A;
    text-decoration: underline;
}

a:hover{
    color: #901100;
}

.bookNow {
    position: relative;
    margin: 0 auto;
    width: 50%;
    top: 1em;
}


#location-maps {
    position: relative;
    /*max-width: 100%;*/
    height: auto;
}

#location-maps h2 {
    margin: 0;
}


.bold {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}
/*.line {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 2em;
}*/

/*.coloring {
    color:white;
    background-color:  #901100;
}

.likebutton {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    line-height: 1;
    border: none;
}

/*#userReserveNow {
    position: relative;
    left: 8em;
    top: 1em;
}*/


/*.locationDetails p {
    margin: 9px;
}

.bookNow p:first-of-type {
    margin-top: 1em;
}

.bookNow p:last-of-type {
    margin-bottom: 1em;
}*/



/*.restaurant h2 {
    margin: 0;
    position: relative;
    right: 4.4em;
    text-transform: none;
}

.restaurant h3 {
    margin: 0;
    position: relative;
    right: 10.3em;
    text-transform: none;
    font-style: normal;
}

.bookTable {
    display: none;
}*/

.locationDetails {
    width: 50%;
    margin: 0;
    color:black;
    display: inline-block;
    vertical-align: top;;
}

#map-container {
    display: inline-block;
    vertical-align:top;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
    background-color: white;
    margin-top: 1.2em;
}

#btn-div {
    margin: 40px auto;
}

#map-btn {
    font-size: 1rem;
    background-color: #901100;
    color: white;
    padding: .8rem;
    border: none;
    cursor:pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#map-btn:hover {
    background-color: black;

}