/* 
 #901100 red
 #837A3A  gold */ 
.site-map-container {
    display: flex;
    position: relative;
    margin: 0 auto;
    font-size: 19px;
}

.sitemap-banner{
    width: 100%;
    height: 350px;
    background-image:url("../images/sitemapBg.jpg");
    /* Image by Christo Anestev from Pixabay */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.sitemap-banner::after {
  content: '';
  background-color: rgba(0,0,0,.7);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.sitemap-banner h1{
    margin: 0;
    padding: .2em;
    color: #FFF;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    top: 50%;
    z-index: 1;
}


.site-map-bg-white {
    padding: 40px 10px;
} 

.site-map-content-box {
    margin: 5em 10%;
    width: 100%; 
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3)
}

.site-map-list{
    list-style: none;
    margin: 20px 60px 20px 20px;
   
}

.sitemap-item {
    margin: 20px 0;
    background-color: #e0dddd;
    border-radius: 6px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
    margin: 20px 0;
    outline: none;
    
}

.collapsible-title, .home-title {
    background-color:  #901100;;   
    border-radius: 5px;
    height: 50px;
    outline: none;
    display: block;
    color: white;
    cursor: pointer;
} 

.home-title {
    padding: 10px 20px;
}

.collapsible-title span {
    padding: 10px 20px;    
    display: inline-block;
} 

.collapsible-title-text {
    color: white !important;
    padding: 9px 20px;    
    display: inline-block;
}


.collapsed-content {
    list-style-type: square;   
    padding-bottom: 10px;
    display: none;
}

.collapsed-content li {
    padding-top: 15px;
}

.collapsed-content a {
    color: black;
}

#collapseBtn {
    height: 30px;
    float: right;
    margin: 10px 12px;
    color:  #901100;
    background-color: #e0dddd;
    border-radius: 25px;
    padding: 1px;
    transform: rotateX(180deg);
}

.collapse-btn:focus {
    outline: none;
}

.minus-icon {
    margin-top: -8px;
    font-size: 35px;
}