@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');


html {
    box-sizing:border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
*, *::before, *::after {
  box-sizing:inherit;
}

body {
    font:normal 1em;
    line-height:1.5;
    margin:0 auto;
    box-sizing: border-box;
}

h1, h2, h3{
    font-family: bely, serif;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
}

h2{
    font-size: 2em;
}

a{
    text-decoration: none;  
}


.absolute{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    
}


.red-btn{
    background-color: #901100;
    color: #fff;
    padding: 10px 15px;
    
    
}

.red-btn:hover{
     background-color: #000;
}

.hidden {
  position:absolute;
  left:-10000px;
  width:1px;
  height:1px;
}

.page-container {
/*  max-width:1200px;*/
  margin:0 auto;
}

.nav-container{
    width: 95%;
    /* height: 75px; */
/*    margin: 0.5em auto;*/
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
   
}



#header{
    width: 90%;
    height: auto;
    display: flex;
    margin: 0 auto;
}

/*
#header::after{
    content: '';
    display: inline-block;
    width: 100%;
    border: 1px solid #dedede;
}
*/

.nav-bar{
    text-align: center;
    margin-left:auto;
}

#main-menu{
    display: inline-block;
    vertical-align: middle;
}

#main-menu ul{
    display: inline-block;
}

#main-menu li {
    display:inline-block;
    list-style-type:none;
    margin-right:2em;
    padding: 10px 0;
}

#main-menu a{
     color: #000;
    text-decoration: none;
    font-size: 18px;
}

#main-menu a:hover{
    color: #837A3A;
   font-size: 18px;
}

#main-menu .reserve-btn {
    float: right;
    padding: 0 !important;
}

#main-menu .reserve-btn a{
    background-color: #901100;
    color: #fff;
    padding: 10px 15px;
    float: right;
}

#main-menu .reserve-btn a:hover{
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
}


#sub-menu{
    display:block;
    /*width:100%;*/
    margin:0;
    padding:0.25em 0 0 0;
    position:relative; 
}

#sub-menu ul{
    margin:5px 0;
/*
    border: solid 1px #dbd7d7; 
    border-top: solid 5px #FE5B57;
*/
    background-color: #fff;
    width:250px;
    position:absolute;
    left:-10000px;
    text-align: left; 
}


#sub-menu:hover ul {
    left: -40px;
    top: 30px;
    border-top: solid 3px #837A3A;
}

#sub-menu li{
     display:block;
    border-bottom: solid 1px #dbd7d7; 
    background-color: #fff;
    padding:5px 0;
}


#site-name{
    text-align: center;
    height: 70px;
}

#site-name img{
    height: 80px;
    width: auto;
}

.main-top-margin{
     margin-top: 75px;
}

.hero{
    /* image by <<Source: https://p0.pikist.com/photos/759/506/italy-venice-europe-architecture-buildings-street-old-city-old-city.jpg>> */
    background-image: url("../images/aroma-hero.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 600px;
    width: 100%;
    position: relative;
}

.bg-white{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px 60px;
    outline: solid 0.25em #837A3A;
    outline-offset: -1.2em;
     -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3); 
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3)
}



.hero-bg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.main-about{
    /* Created by Miho */
    background-image: url("../images/about_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    padding: 5em 20em;
}

.main-about div{
    margin: 0 auto;
}

.main-about h2, .contest h2{
    display: inline-block;
    position: relative;
    width: 100%;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
}

.main-about h2:before, .contest h2:before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px; 
    display: inline-block;
    width: 50px; 
    height: 4px; 
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%); 
    background-color: #837A3A;
}

.main-about p{
    font-size: 18px;
}

.home-container{
    width: 100%;
    height: auto;
    background-color: #F7F7F7;
    padding-bottom: 80px;
/*    background-color: #FAFAF8;*/
}

.home-service-container{
    display: flex;
    position: relative;
    width: 90%;
    height: 500px;
    margin: 50px auto;
}

.home-menu1-description, .home-event-description{
    position: absolute;
    top: 7em;
    left: 5em;
    width: 45%;
    height: 380px;
    background-color: #fff;
    z-index: 1;
/*    padding: 5em;*/
}

.home-menu1-img img, .home-event-img img{
    position: absolute;
    top: 5em;
    right: 5em;
    width: 50%;
    height: 450px;
   object-fit: cover;
}

.home-special-description{
    position: absolute;
    top: 7em;
    right: 5em;
    width: 45%;
    height: 380px;
    background-color: #fff;
    z-index: 1;
/*    padding: 5em;*/
}
.home-special-img img{
    position: absolute;
    top: 5em;
    left: 5em;
    width: 50%;
    height: 450px;
   object-fit: cover;
}

.home-event-bg div{
    position:absolute;
    width: 60%;
    height: 300px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin:0;
    padding:60px;
}

.contest{
    /* Images by Alejandra Gonzalez from Unsplash */
    background-image: url("../images/twoPizzas.jpg");
    background-attachment: fixed;
    background-position:bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    position: relative;
}

.contest-container{
   position:absolute;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
/*    margin:20px auto;*/
    padding-top: 50px;
    padding-bottom: 150px;
    
}

.contest-container div{
    position:relative;
    margin: 20px 20%;
}

.contest-container h2{
    margin-top: 0;
    padding-top: 0;
}

.contest-container a{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}

.informations{
    width: 100%;
    height: auto;
    background-color: #F7F7F7;
    padding-bottom: 100px;
}

.informations div{
    width: 80%;
    margin: 0 auto;
    
     display: flex;
    justify-content: center;
}

.informations section{
    width: 60%;
    background-color: #fff;
/*    border: 1px solid #000;*/
    margin-top: 100px;  
/*    padding: 40px 60px;*/
    outline: solid 0.25em #837A3A;
    outline-offset: -1.2em;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3); 
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
   
}

.informations section:first-of-type{
    width: 40%;
    background-color: #fff;
/*    border: 1px solid #000;*/
    margin-top: 100px;  
    margin-right: 2%;
}

.home-career{
    padding: 40px 60px;
    position: relative;
}

.home-career a{
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.giftcards{
    display: flex;
    
}

.giftcards div{
    display: inline-flex;
    flex-direction: column;
    padding-right: 30px;
}


.giftcards div img{
    width: 100%;
    height: 400px; 
    object-fit: cover;
}

.giftcards-content{
    padding: 40px 0;
    text-align: center;
}


